/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/

ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a {
	display: block;
}

body {
	/* background-color: black;
	color: white;*/
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
	background-color: #c1bddf;
	margin: 0;
	border: 0;
	vertical-align: baseline;
	padding: 36px;
}

h2 {
	/*text-align: center;*/
	background-color: #c1bddf;
	margin: 0;
	border: 0;
	vertical-align: baseline;
	padding: 18px;
}

#menu {
	display: flex;
	list-style: none;
}

#menu li:first-child {
	margin-right: 10px;	
}

#menu li {
	flex-grow: 1;
	text-align: center;
	background-color: #bad3f1;
	border: 1px solid transparent;
	padding: 12px;
}

#menu li:hover {
	border: 1px solid blue;
}

#menu li a {
	text-decoration: none;
}

#categoriaSeleccionada {
	text-align: center;
}

.liCat {
	cursor: pointer;
	padding: 6px;
	background-color: #baf1e4;	
	border: 1px solid transparent;
}

.liCat:hover {
	border: 1px solid green;
}

#categoriaSeleccionadaTabla {
	font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

#categoriaSeleccionadaTabla td {
	border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

#categoriaSeleccionadaTabla tr:nth-child(even) {
	background-color: #f2f2f2;
}

#botonera {
	margin-top: 18px;
	margin-bottom: 18px;
	display: flex;
	justify-content: space-around;
}

button {
  flex-grow: 1;
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #008CBA;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {
  background-color: #3e8e41;  
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#botonera input {
	/*padding: 15px 25px;*/
	font-size: 16px;
	text-align: center;
	/*flex-grow: 0.5;*/
	width: 64px;
}

#inputs {
	flex-grow: 4;
	display: flex;
	justify-content: space-evenly;
}

#inputs div {
	/*display: flex;*/
}

#inputs div label {
	display: block;
	text-align: center;
	font-weight: bold;
}

#inputs div input {
	display: block;
}

main {
	display: flex;
	flex-wrap: wrap;
}

main section:first-child {
	flex-grow: 1;
	/*background-color: #baf1e4;*/
}

main section {
	flex-grow: 6;	
}

footer {
	text-align: center;
	background-color: #c1bddf;
	margin: 12px 0 0 0;
	border: 0;
	vertical-align: baseline;
	padding: 36px;
}
